.fixFloat{
    clear: both;
}
body{
    margin: auto;
    width: 960px;
    background-color: #dddddd;
    padding: 0px;
    background: url(../_Videos/fundo.gif) repeat-x;
}
#cab img{
    float: left;
}
#social{
    float: right;
    margin-top: 60px;
}
#social img{
    width: 32px;
    height: 32px;
}
#menu{
    float: left;
    margin-top: 93px;
    width: 453px;
}
#menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom,#dddddd, #666666 );
}
#menu li{
    height: 57px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    border-right: 1px solid #062;
}
#menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}
#banner{
    margin-top: 15px;
}
#banner img{
    width: 960px;
}
#lateral{
    float:right;
    background-color: #dddddd;
    width: 190px;
    padding: 5px;
}
#lateral h1{
    font-size: 15px;
    text-align: center;
    border-bottom: 1px #000000 solid;
    margin-top: -5px;
}
#lateral h2{
    font-size: 15px;
}
#lateral p{
    text-align: justify;
}
#main{
    background-color: #dddddd;
    width: 730px;
    padding: 5px;
}
#main h1{
    font-size: 20pt;
    border-bottom: #000000 solid 1px;
}
#main h2{
    font-size: 15px;
}
#main p{
    text-align: justify;
}
footer{
    color: #888888;
    border: #000000 solid 1px;
}
footer p{
    display: inline-block;
    width: 316px;
    text-align: center;
}
